# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
build/
.next/
out/
.turbo/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs & coverage
logs/
*.log
npm-debug.log*
pnpm-debug.log*
coverage/
.nyc_output/

# Prisma
prisma/*.db
prisma/*.db-journal

# Docker
docker/postgres/data/

# Misc
*.pem
.cache/
tmp/
temp/
